@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

/* add modal css */

.no-overflow {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.backdrop {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-color: rgba(36, 45, 52, 0.5);
  
  .modal {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
    height: 250px;
    width: 400px;
    animation: in 0.4s ease-out;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 24px;
    
    &.out {
      animation: out 0.4s ease-out;
      animation-fill-mode: forwards;
    }
    
    .close-mark {
      cursor: pointer;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 24px;
      right: 24px;
      background: pink;
      transition: all 0.2s ease-out;
      text-align: center;
      line-height: 16px;
      
      &:hover {
        transform: scale(1.25);
      }
    }
    
    .content {
      background: #ccc;
    }
  }
  
}

@keyframes in {
  0% {
    opacity: 0;
    top: 0%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    top: 50%;
  }
}

@keyframes out {
  from {
    top: 50%;
    opacity: 1
  }
  to {
    top: 100%;
    opacity: 0;
  }
}

.app-container {
  padding: 8px;
  & > button {
    height: 24px;
    width: 128px;
  }
  & > div {
    margin: 8px 0;
    padding: 8px;
    background: #ccc;
    width: 128px;
    text-align: center;
  }
}


